# Postgres
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_DB=tasker

# Backend
DATABASE_URL=postgresql://docker:docker@db:5432/tasker?schema=public
SECRET_JWT=change-me
BACKEND_PORT=3333

# Frontend
FRONTEND_PORT=3000
